body {
  padding: 0;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

#game-intro {
  display: flex;
  padding: 0px 0px;
  background-image: url(../images/bluebubbles.png);
}

#game-container {
  display: flex;
  width: 100vw;
  padding: 20px 0px;
  justify-content: center;
}

#game-screen {
  display: flex;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/background3.png);
  background-size: cover;
  border-width: 2px;
  border-radius: 40px;
}

#game-end {
  display: none;
}

#game-intro p {
  font-size: 30px;
}

#start-button {
  background-image: url(../images/crabfav.png);
  text-align: justify;
  background-color: transparent;
  height: 50px;
}

body button {
  font-size: 18px;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  margin-bottom: 30px;
}
