body {
  padding: 0;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Grande", Arial, sans-serif;
  color: #f57418;
  font-size: 50px;
  text-shadow: 2px 1px white;
}

#game-intro {
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(../images/bluebubbles.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 20px;
}

#game-intro p {
  font-size: 25px;
  font-weight: bold;
}

#stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 10px;
  padding: 15px 20px;
  border: 2px solid black;
  border-radius: 40px;
  line-height: 0.5;
  height: 150px;
  width: 120px;
}

#stats p {
  font-size: 20px;
  font-weight: bold;
}

#button-container {
  text-align: center;
}

#start-button {
  background-image: url("../images/crab.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 280px; /* Set the height to be twice the original size */
  width: 280px; /* Set the width to be twice the original size */
  border: none;
  cursor: pointer;
  position: relative; /* Ensure the button is a positioned parent */
}

#button-content {
  position: absolute;
  width: 100%;
  top: 58%; /* Position the text 50% down within the button */
  transform: translateX(-13%);
  text-align: center;
  color: white;
  font-family: "Trebuchet MS", "Lucida Grande", Arial, sans-serif;
}

#game-container {
  display: flex;
  width: 100vw;
  padding: 20px 0px;
  justify-content: center;
}

#game-screen {
  display: flex;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/background3.png);
  background-size: cover;
  border: 2px solid black;
  border-radius: 40px;
}
#end-container {
  display: none;
}

#game-end {
  display: flex;
  padding: 0;
  flex-direction: column-reverse;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(../images/bluebubbles.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#restart-button {
  display: flex;
  background-image: url("../images/crab.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 280px; /* Set the height to be twice the original size */
  width: 280px; /* Set the width to be twice the original size */
  border: none;
  cursor: pointer;
  position: relative; /* Ensure the button is a positioned parent */
}

#restart-button-content {
  position: absolute;
  width: 100%;
  top: 58%; /* Position the text 50% down within the button */
  transform: translateX(-13%);
  text-align: center;
  color: white;
  font-family: "Trebuchet MS", "Lucida Grande", Arial, sans-serif;
}

#game-over {
  display: flex;
  font-size: 40px;
  font-weight: bold;
  padding: 30px 0px 0px;
}

body button {
  font-size: 18px;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  margin-bottom: 30px;
}
