body {
  padding: 0;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

#game-intro {
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(../images/bluebubbles.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#stats {
  border-color: orange;
  border-width: 2px;
  border-radius: 40px;
}

#stats p {
  font-size: 15px;
}

#button-container {
  text-align: center;
}

#start-button {
  background-image: url("../images/crab.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 300px; /* Set the height to be twice the original size */
  width: 300px; /* Set the width to be twice the original size */
  border: none;
  cursor: pointer;
  position: relative; /* Ensure the button is a positioned parent */
}

#button-content {
  position: absolute;
  width: 100%;
  top: 60%; /* Position the text 50% down within the button */
  transform: translateX(-13%);
  text-align: center;
  color: white;
}

#game-container {
  display: flex;
  width: 100vw;
  padding: 20px 0px;
  justify-content: center;
}

#game-screen {
  display: flex;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/background3.png);
  background-size: cover;
  border-width: 2px;
  border-radius: 40px;
}

#game-end {
  display: none;
}

#game-intro p {
  font-size: 20px;
  font-weight: bold;
}

body button {
  font-size: 18px;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  margin-bottom: 30px;
}
